{% extends 'base.html' %}

{% block content %}

    <h2>Активные запросы</h2>
    <div class="row">

 <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Сотрудник: Иванов Иван Иванович</h6>
          <h6 class="card-title">Объект:  Название_объекта_предприятия_5</h6>
                  <a href="" class="btn btn-primary">Отклонить запрос</a>
        <a href="" class="btn btn-primary">Принять запрос</a>

      </div>


</div>
{% endblock %}